.grid-text-header {
	text-align: left;	
	padding:1px;
  	white-space:pre-wrap;
  	color:black;
  	font-weight: bold;
  	vertical-align:middle;
}

#pricelistcreategrid .x-grid-cell { 
    background-image: none;
}

#offeringsetcreategrid .x-grid-cell { 
    background-image: none;
}